@import "./partials/variables.scss";

/* - - - - - -
    reset
- - - - - - */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* - - - - - -
    commons
- - - - - - */
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
/* - - - - - -
    containers
- - - - - - */

/* - - - - - -
    fonts
- - - - - - */

/* - - - - - -
    typo
- - - - - - */